.muscle-radar-chart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.muscle-radar-chart__label {
    font-size: 14px;
}

@media (max-width: 768px) {
    .muscle-radar-chart {
        padding: 0;
    }

    .muscle-radar-chart__label {
        font-size: 11px !important;
    }

    .muscle-radar-chart text {
        font-size: 11px !important;
    }
}
